<template name="headerTelevision">

  <nav class="main-header header">

    <div class="side-left">
      <a href="#" class="button btn-flat button-collapse" data-activates="television-navigation">
        <img src="images/television/icons/icon-navigation.svg" height="16" />
      </a>
    </div>

    <a href="#" class="logo center-align">
      <img src="images/television/logo-white-hor.png" height="28" />
    </a>

    <div class="side-right">
      <a href="#modal-play-tv" class="button btn-flat modal-trigger">
        <img src="images/television/icons/icon-tv.svg" height="22" style="margin:5px 0!important;" />
      </a>
    </div>

  </nav>


</template>