<template name="navigationTelevision">

  <ul id="television-navigation" class="side-nav">

    <a href="{{ pathFor 'home' }}" title="Voltar para o início" class="back-to-home">
      <i class="icon-left-2"></i>
      <span>Voltar ao início</span>
    </a>

    <li class="item-nav">
      <a class="link-nav" href="{{ pathFor 'television' }}" data-transition-out="slideFadeLeftOut" data-transition-in="slideFadeRightIn">
        Programas
      </a>
    </li>

    <li class="item-nav">
      <a class="link-nav" href="{{ pathFor 'programation' }}" data-transition-out="slideFadeLeftOut" data-transition-in="slideFadeRightIn">
        Programação
      </a>
    </li>

  </ul>

</template>