<template name="programNew">

<div class="container">

	<header class="top-container">
		<h4>
			<i class="mdi-content-add"></i>Novo Programa
		</h4>

		<a href="{{pathFor 'programs' }}" class="waves-effect waves-light btn btn-model">
			<i class="mdi-hardware-keyboard-backspace left"></i>
			Voltar
		</a>

	</header>

	<div class="content-container row">

		<div class="programs">

			<div class="row">

			  <form id="programForm" class="col s12">

			    <div class="col s12">
			    	 <label>Veiculo *</label>
					  <select id="program_vehicle">
					    <option value="" disabled selected>Escolha o veiculo</option>
					  </select>
			    </div>

			    <div class="col s12">
			    	 <label>Categoria *</label>
					  <select id="program_category">
					    <option value="" disabled selected>Escolha a categoria</option>
					  </select>
			    </div>

          <div class="col s12">
             <label>Localidade *</label>
            <select id="program_city">
              <option value="" disabled selected>Escolha a cidade</option>
            </select>
          </div>

			      <div class="input-field col s12">
			      	<i class="mdi-action-account-circle prefix"></i>
			        <input id="program_name" type="text" class="validate" maxlength="200">
			        <label for="program_name">Nome *</label>
			      </div>

			      <div class="input-field col s12">
			        <i class="mdi-editor-mode-edit prefix"></i>
			        <textarea id="program_description" class="materialize-textarea"></textarea>
			        <label for="program_description">Descrição</label>
			      </div>

			      <div class="col s12">

			      	<div class="input-field col s6">

              <div class="col s6">
                  <i class="mdi-device-access-time prefix"></i>
				          <input id="program_hour_begin" type="text" class="validate" data-vm-mask-hour-begin/>
                  <label for="program_hour_begin">Início *</label>
                </div>
                <div class="col s6">
                  <i class="mdi-device-access-time prefix"></i>
                  <input id="program_hour_end" type="text" class="validate" data-vm-mask-hour-end/>
  				        <label for="program_hour_end">Término *</label>
                </div>

			        </div>

    					<div class="input-field col s6 field-week">
    						<i class="mdi-notification-event-note prefix"></i>
                <div class="box">
                  <p>
                    <input type="checkbox" class="filled-in" id="day_monday" />
                    <label for="day_monday">Segunda</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="day_tuesday"  />
                    <label for="day_tuesday">Terça</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="day_wednesday"  />
                    <label for="day_wednesday">Quarta</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="day_thursday"  />
                    <label for="day_thursday">Quinta</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="day_friday"  />
                    <label for="day_friday">Sexta</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="day_saturday"  />
                    <label for="day_saturday">Sábado</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="day_sunday"  />
                    <label for="day_sunday">Domingo</label>
                  </p>
                </div>
    					</div>

			      </div>

			    <!--   <div class="col s12" style="margin-bottom:40px;margin-top:30px;">

			      	<small style="width:100%;display:inline-block;text-align:center;font-size:22px;">Redes Sociais</small>

			      	<div class="input-field col s6">
				        <input id="social_facebook" type="text" class="validate" />
				        <label for="social_facebook">Facebook</label>
			        </div>
					<div class="input-field col s6">
						<input id="social_google" type="text" class="validate" />
						<label for="social_google">Google +</label>
					</div>

			      </div>
 -->
			      <div class="file s12">

                <div class="col s6">

                    <small>Dimensões ( 300x120 ) *</small>
                    <div class="file-field input-field">
                      <input class="file-path validate hide" type="text"/>
                      <div class="btn color-pattern btn-submit-white">
                            <span>Destaque</span>
                            <input type="file" id="topo_upload" name="imageFile" />
                        </div>
                        <div class="img-upload">
                            <img src="{{imgBase64_topo}}" id="topo_imgBase64" width="100" height="45">
                          </div>
                      </div>

                  </div>

                 <div class="col s6">
                    <small>Dimensões ( 300x300 ) *</small>
                    <div class="file-field input-field">
                      <input class="file-path validate hide" type="text"/>
                      <div class="btn color-pattern btn-submit-white">
                            <span>Perfil</span>
                            <input type="file" id="avatar_upload" name="imageFile" />
                        </div>
                        <div class="img-upload">
                            <img src="{{imgBase64_avatar}}" id="avatar_imgBase64" width="45" height="45">
                          </div>
                      </div>
                  </div>

            </div>

		      	<div class="input-field col s12">
    					<input id="program_status" type="checkbox" class="validate">
    					<label for="program_status">Status</label>
    				</div>

			      <div class="btn-new col s12">
    			     <button type="submit" class="waves-effect waves-light btn btn-submit pull-right" style="width:100%;">
    						Criar
    					</button>
			      </div>

			  </form>

			</div>

		</div>

	</div>


</div>
</template>
