<md-toolbar layout="row" layout-align="space-between center" md-scroll-shrink>

  <navbar-left class="nav-left" flex=''>

    <md-button class="button" ng-href="/menu">
      <md-icon md-svg-icon="img/icons/menu.svg" class="ng-scope ng-isolate-scope md-default-theme" aria-hidden="true"></md-icon>
    </md-button>

  </navbar-left>

  <div class="title-center" flex=''>
    <a href="/">
      <img src="/images/logo-white.png" height="42" />
    </a>
  </div>

  <navbar-right class="nav-right" flex=''>

    <md-button class="button" ng-href="/about">
        <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
    </md-button>

  </navbar-right>

</md-toolbar>