<template name="header">

  <header class="header">

    <div class="side-left">
      <a href="#" class="button btn-flat button-collapse" data-activates="main-navigation">
        <img src="images/home/icons/menu.svg" height="16" />
      </a>
    </div>

    <a href="#" class="logo">
      <img src="images/home/logo-white.png" width="204" height="120" />
    </a>

    <div class="side-right">
      <a href="#modal-about" class="button btn-flat modal-trigger">
        <img src="images/home/icons/info.svg" height="22" />
      </a>
    </div>

  </header>

</template>