<template name="boxPolitica">

  <section class="box-model border-politica">
    <header class="box-model-header">
      <h2 class="box-model-title">
        <a href="#">
          POLÍTICA
        </a>
      </h2>
    </header>

    <div class="box-model-content">
      <div class="post-model full-post">

        <figure class="post-image">
          <img src="/images/portal/img-post1.png" width="100%" height="240" />
        </figure>

        <span class="post-label">ETIQUETA</span>

        <h2 class="post-title">
          <a href="#" class="txt-politica">Equipe da prefeitura é assaltada em evento de ciclismo em Teresina</a>
        </h2>

      </div>

      <div class="post-model">

        <span class="post-label">ETIQUETA</span>

        <h2 class="post-title">
          <a href="#" class="txt-politica">Equipe da prefeitura é assaltada em evento de ciclismo em Teresina</a>
        </h2>

      </div>

      <div class="post-model">

        <span class="post-label">ETIQUETA</span>

        <h2 class="post-title">
          <a href="#" class="txt-politica">Equipe da prefeitura é assaltada em evento de ciclismo em Teresina</a>
        </h2>

      </div>

      <div class="post-model">

        <span class="post-label">ETIQUETA</span>

        <h2 class="post-title">
          <a href="#" class="txt-politica">Equipe da prefeitura é assaltada em evento de ciclismo em Teresina</a>
        </h2>

      </div>
    </div>
  </section>

</template>
