<template name="boxTecnologia">

  <section class="box-model border-tecnologia">
    <header class="box-model-header">
      <h2 class="box-model-title">
        <a href="#">
          TECNOLOGIA
        </a>
      </h2>
    </header>

    <div class="box-model-content">

      <div class="post-model">

        <figure class="post-image">
          <img src="/images/portal/img-post2.png" width="100%" />
        </figure>

        <span class="post-label">ETIQUETA</span>

        <h2 class="post-title">
          <a href="#" class="txt-tecnologia">Equipe da prefeitura é assaltada em evento de ciclismo em Teresina</a>
        </h2>

      </div>

      <div class="post-model">

        <span class="post-label">ETIQUETA</span>

        <h2 class="post-title">
          <a href="#" class="txt-tecnologia">Equipe da prefeitura é assaltada em evento de ciclismo em Teresina</a>
        </h2>

      </div>
      <div class="post-model">

        <span class="post-label">ETIQUETA</span>

        <h2 class="post-title">
          <a href="#" class="txt-tecnologia">Equipe da prefeitura é assaltada em evento de ciclismo em Teresina</a>
        </h2>

      </div>
    </div>
  </section>

</template>
