<template name="boxVideos">

  <section id="box-videos" class="box-model border-pattern">
    <header class="box-model-header">
      <h2 class="box-model-title">
        <a href="#">
          VÍDEOS
        </a>
      </h2>
    </header>
    <div class="box-model-content">

      <div class="post-model midias-featured">
        <figure class="post-image">

          <i class="icon-play"></i>

          <img src="/images/portal/img-post1.png" width="100%" />

          <div class="post-info">
            <span class="post-label">1:35</span>
            <h2 class="post-title">
              <a href="#">Equipe da prefeitura é assaltada em evento de ciclismo em Teresina</a>
            </h2>
          </div>

        </figure>

      </div>

      <div class="post-list">
        <div class="post-model">

          <figure class="post-image">
            <img src="/images/portal/img-post1.png" width="100%" />
          </figure>

          <h2 class="post-title">
            <a href="#">Equipe da prefeitura é assaltada em evento de ciclismo em Teresina</a>
          </h2>

          <span class="post-label">1:45</span>

        </div>

        <div class="post-model">

          <figure class="post-image">
            <img src="/images/portal/img-post1.png" width="100%" />
          </figure>

          <h2 class="post-title">
            <a href="#">Equipe da prefeitura é assaltada em evento de ciclismo em Teresina</a>
          </h2>

          <span class="post-label">1:45</span>

        </div>

        <div class="post-model">

          <figure class="post-image">
            <img src="/images/portal/img-post1.png" width="100%" />
          </figure>

          <h2 class="post-title">
            <a href="#">Equipe da prefeitura é assaltada em evento de ciclismo em Teresina</a>
          </h2>

          <span class="post-label">1:45</span>

        </div>


      </div>

    </div>
  </section>

</template>
