<template name="homeFeatured">

  <!-- DESTAQUE HOME (modelo 1) -->
  <div class="portalFeatured">

    <!-- MANCHETE -->
    <!-- <div class="manchete post-model">

      <h2 class="post-title">
        <a href="#" class="txt-policia">Equipe da prefeitura é assaltada em evento de ciclismo em Teresina</a>
      </h2>

    </div> -->

    <!-- SLIDESHOW -->
    <section class="slider-main">

      <div class="inner-slider">

        <figure class="image-main">
          <a href="#">
            <img src="/images/portal/img-destaque3.png" width="100%" />
          </a>
        </figure>

        <div class="info-main">
          <span class="label-main">
            OPERAÇÃO INTEGRADA
          </span>
          <h2 class="title-main">
            <a href="#">
              Polícia prende acusados de tráfico e roubos no sul do Piauí
            </a>
          </h2>
        </div>

      </div>
      <div class="inner-slider">

        <figure class="image-main">
          <a href="#">
            <img src="/images/portal/img-destaque2.png" width="100%" />
          </a>
        </figure>

        <div class="info-main">
          <span class="label-main">
            OPERAÇÃO INTEGRADA
          </span>
          <h2 class="title-main">
            <a href="#">
              Polícia prende acusados de tráfico e roubos no sul do Piauí
            </a>
          </h2>
        </div>

      </div>

      <div class="inner-slider">

        <figure class="image-main">
          <a href="#">
            <img src="/images/portal/img-destaque.png" width="100%" />
          </a>
        </figure>

        <div class="info-main">
          <span class="label-main">
            OPERAÇÃO INTEGRADA
          </span>
          <h2 class="title-main">
            <a href="#">
              Polícia prende acusados de tráfico e roubos no sul do Piauí
            </a>
          </h2>
        </div>

      </div>

      <div class="inner-slider">

        <figure class="image-main">
          <a href="#">
            <img src="/images/portal/img-destaque2.png" width="100%" />
          </a>
        </figure>

        <div class="info-main">
          <span class="label-main">
            OPERAÇÃO INTEGRADA
          </span>
          <h2 class="title-main">
            <a href="#">
              Polícia prende acusados de tráfico e roubos no sul do Piauí
            </a>
          </h2>
        </div>

      </div>


    </section>

    <!-- DEPOIS DO SLIDE -->
    <div class="main-list">

      <div class="post-model large">

        <span class="post-label">ETIQUETA</span>

        <h2 class="post-title">
          <a href="#" class="txt-entretenimento">Equipe da prefeitura é assaltada em evento de ciclismo em Teresina</a>
        </h2>

      </div>

      <div class="post-model">

        <span class="post-label">ETIQUETA</span>

        <h2 class="post-title">
          <a href="#" class="txt-esportes">Equipe da prefeitura é assaltada em evento de ciclismo em Teresina</a>
        </h2>

      </div>

      <div class="post-model">

        <span class="post-label">ETIQUETA</span>

        <h2 class="post-title">
          <a href="#" class="txt-entretenimento">Equipe da prefeitura é assaltada em evento de ciclismo em Teresina</a>
        </h2>

      </div>

      <div class="post-model">

        <span class="post-label">ETIQUETA</span>

        <h2 class="post-title">
          <a href="#" class="txt-politica">Equipe da prefeitura é assaltada em evento de ciclismo em Teresina</a>
        </h2>

      </div>

      <div class="post-model full-post">

        <figure class="post-image">
          <img src="/images/portal/img-post1.png" width="100%" height="145" />
        </figure>

        <span class="post-label">ETIQUETA</span>

        <h2 class="post-title">
          <a href="#" class="txt-esportes">Equipe da prefeitura é assaltada em evento de ciclismo em Teresina</a>
        </h2>

      </div>

      <div class="post-model full-post">

        <figure class="post-image">
          <img src="/images/portal/img-post1.png" width="100%" height="145" />
        </figure>

        <span class="post-label">ETIQUETA</span>

        <h2 class="post-title">
          <a href="#" class="txt-cidades">Equipe da prefeitura é assaltada em evento de ciclismo em Teresina</a>
        </h2>

      </div>

      <div class="post-model full-post">

        <figure class="post-image">
          <img src="/images/portal/img-post1.png" width="100%" height="145" />
        </figure>

        <span class="post-label">ETIQUETA</span>

        <h2 class="post-title">
          <a href="#" class="txt-policia">Equipe da prefeitura é assaltada em evento de ciclismo em Teresina</a>
        </h2>

      </div>

      <div class="post-model full-post">

        <figure class="post-image">
          <img src="/images/portal/img-post1.png" width="100%" height="145" />
        </figure>

        <span class="post-label">ETIQUETA</span>

        <h2 class="post-title">
          <a href="#" class="txt-saude">Equipe da prefeitura é assaltada em evento de ciclismo em Teresina</a>
        </h2>

      </div>

    </div>

  </div>

</template>
