<template name="headerPortalSection">

  <nav class="header header-portal">

    <div class="nav-wrapper">

      <div class="side-left">
        <a class="button btn-flat button-collapse" href="{{ pathFor 'portal' }}">
          <img src="/images/portal/icons/icon-back.svg" height="20" />
        </a>
      </div>

      <a href="#" class="title">
        EDITORIA X
      </a>

      <div class="side-right">
        <a href="#modal-search-portal" class="button btn-flat button-search modal-trigger">
          <img src="/images/portal/icons/icon-search.svg" height="24" />
        </a>
      </div>

    </div>

  </nav>

</template>
