<template name="index">

<div class="container">

	<header class="top-container">

		<h4>
			Timeline
		</h4>

		  <span class="waves-effect waves-light btn btn-model">
		  	{{qtUserCadastrado}} usuários cadastrados
		  </span>

	</header>

	<div class="content-container row">

		<div class="timeline">

			<div class="col s12">

				<div class="collection" data-collapsible="accordion">
				{{#each contents}}

          <div class="collection-item avatar">

           <!--  <div class="secondary-content actions-icons">

                <a id="btnDelete" href="#" class="modal-trigger">
                  <input type="text" value="{{_id}}" id="programDelete" readonly="readonly" style="display:none;" />
                  <i class="mdi-navigation-close"></i>
                </a>

            </div> -->

            <div id="visualizeMensageHistory" class="item-inner collapsible-header">

                <input type="text" id="mensageHistoryId" style="display:none" value="{{_id}}">

                <figure class="avatar">
                  <img src="{{user_avatar}}" height="50" width="50" />
                </figure>

                <strong class="title">{{user_name}}</strong>
                <p class="date">Enviado há {{timeCompared}}</p>

            </div>

            <div class="collection-message card collapsible-body">

                  {{#if img}}
                    <div class="card-image">

                      <p>{{text}}</p>

                      <img class="activator" src="{{img}}">

                    </div>
                  {{else}}
                    <div class="card-image">
                      <p>{{text}}</p>
                    </div>
                  {{/if}}

              </div>

          </div>
					{{/each }}

				</div>
					<a id="mais" class="waves-effect waves-light btn btn-more color-pattern">
						Carregar mais
					</a>

			</div>

		</div>

	</div>

</div>

</template>
