<template name="headerColumn">

  <nav class="header header-newspaper">

    <div class="nav-wrapper">

      <div class="side-left">
        <a class="button btn-flat button-collapse" href="{{ pathFor 'newspaper' }}">
          <img src="/images/newspaper/icons/icon-back.svg" height="20" />
        </a>
      </div>

      <a href="#" class="title">
        JOSÉ SIMÃO
      </a>

      <div class="side-right">
        <a href="#modal-message-column" class="button btn-flat button-search modal-trigger">
          <img src="/images/newspaper/icons/icon-message.svg" height="24" />
        </a>
      </div>

    </div>

  </nav>

</template>