<template name="headerNewspaper">

  <nav class="header header-newspaper">

    <div class="nav-wrapper">

      <div class="side-left">
        <a href="#" class="button btn-flat button-collapse" data-activates="newspaper-navigation">
          <img src="/images/newspaper/icons/icon-navigation.svg" height="18" />
        </a>
      </div>

      <a href="#" class="logo">
        <img src="/images/newspaper/logo-jornal-white.png" height="28" alt="" />
      </a>

      <div class="side-right">
        <a href="#" class="button btn-flat button-search">
          <img src="/images/newspaper/icons/icon-search.svg" height="24" />
        </a>
      </div>

    </div>

  </nav>

</template>