<template name="navigationTabs">

    <div class="newspaper-tabs-bottom">

      <ul class="tabs-items">

        <li class="tab-item">
          <a class="{{isActiveRoute 'newspaper'}}" data-transition-out="scaleOut" data-transition-in="scaleIn" href="{{ pathFor 'home' }}">Capa</a>
        </li>
        <li class="tab-item">
          <a class="{{isActiveRoute 'contentNewspaperLatest'}}" data-transition-out="scaleOut" data-transition-in="scaleIn" href="{{ pathFor 'contentNewspaperLatest' }}">Últimas</a>
        </li>

        <li class="tab-item"><a data-transition-out="scaleOut" data-transition-in="scaleIn" href="#">Seções</a></li>
        <li class="tab-item"><a data-transition-out="scaleOut" data-transition-in="scaleIn" href="#">Colunas</a></li>
        <li class="tab-item"><a data-transition-out="scaleOut" data-transition-in="scaleIn" href="#">Especiais</a></li>
        <li class="tab-item"><a data-transition-out="scaleOut" data-transition-in="scaleIn" href="#">Fotos</a></li>
        <li class="tab-item"><a data-transition-out="scaleOut" data-transition-in="scaleIn" href="#">Vídeos</a></li>

      </ul>

    </div>

</template>