<template name="navigationNewspaper">

  <ul id="newspaper-navigation" class="side-nav">

    <li class="item-nav">
      <a href="{{ pathFor 'home' }}" title="Voltar para o início" class="back-to-home" data-transition-out="scaleOut" data-transition-in="scaleIn">
        <i class="icon-left-2"></i>
        <span>Voltar ao início</span>
      </a>

      <a href="{{ pathFor 'home' }}" class="subscribe-button">
        ASSINE
      </a>
    </li>

    <li class="item-nav">

      <ul class="collapsible collapsible-accordion">

        <li>
          <a class="link-nav collapsible-header" href="#">
            Seções
            <i class="icon-down-open-mini"></i>
          </a>

          <div class="collapsible-body">

            <ul>
              <li><a href="{{ pathFor 'newspaperSection' }}">Opinião</a></li>
              <li><a href="{{ pathFor 'newspaperSection' }}">Theresina</a></li>
              <li><a href="{{ pathFor 'newspaperSection' }}">Olé</a></li>
              <li><a href="{{ pathFor 'newspaperSection' }}">Piauí</a></li>
            </ul>

          </div>

        </li>

      </ul>

    </li>

    <li class="item-nav">

      <ul class="collapsible collapsible-accordion">

        <li>
          <a class="link-nav collapsible-header" href="#" data-transition-out="slideFadeLeftOut" data-transition-in="slideFadeRightIn">
            Colunas

            <i class="icon-down-open-mini"></i>
          </a>

          <div class="collapsible-body">

            <ul>
              <li><a href="{{ pathFor 'newspaperColumns' }}">Todas as colunas</a></li>
              <li><a href="{{ pathFor 'newspaperColumn' }}">First</a></li>
              <li><a href="{{ pathFor 'newspaperColumn' }}">Second</a></li>
              <li><a href="{{ pathFor 'newspaperColumn' }}">Third</a></li>
              <li><a href="{{ pathFor 'newspaperColumn' }}">Fourth</a></li>
            </ul>

          </div>

        </li>

      </ul>

    </li>

    <li class="item-nav">
      <a class="link-nav" href="{{ pathFor 'newspaperSpecials' }}" data-transition-out="slideFadeLeftOut" data-transition-in="slideFadeRightIn">
        Especiais
      </a>
    </li>

    <li class="item-nav">
      <a class="link-nav" href="{{ pathFor 'newspaperPhotos' }}" data-transition-out="slideFadeLeftOut" data-transition-in="slideFadeRightIn">
        Fotos
      </a>
    </li>

    <li class="item-nav">
      <a class="link-nav" href="{{ pathFor 'newspaperVideos' }}" data-transition-out="slideFadeLeftOut" data-transition-in="slideFadeRightIn">
        Vídeos
      </a>
    </li>

  </ul>

</template>