<template name="navTabsNewspaper">

    <div id="nav-tabs-newspaper" class="newspaper-tabs-bottom">

      <ul class="tabs-items">

        <li class="tab-item">
          <a class="{{isActiveRoute 'newspaper'}}" href="{{ pathFor 'newspaper' }}">Capa</a>
        </li>
        <li class="tab-item">
          <a class="{{isActiveRoute 'newspaperLatest'}}" href="{{ pathFor 'newspaperLatest' }}">Últimas</a>
        </li>
        <li class="tab-item"><a class="{{isActiveRoute 'newspaperSection'}}" href="{{ pathFor 'newspaperSection' }}">Seções</a></li>
        <li class="tab-item"><a class="{{isActiveRoute 'newspaperColumns'}}" href="{{ pathFor 'newspaperColumns' }}">Colunas</a></li>
        <li class="tab-item"><a class="{{isActiveRoute 'newspaperSpecials'}}" href="{{ pathFor 'newspaperSpecials' }}">Especiais</a></li>
        <li class="tab-item"><a class="{{isActiveRoute 'newspaperPhotos'}}" href="{{ pathFor 'newspaperPhotos' }}">Fotos</a></li>
        <li class="tab-item"><a class="{{isActiveRoute 'newspaperVideos'}}" href="{{ pathFor 'newspaperVideos' }}">Vídeos</a></li>

      </ul>

    </div>

</template>
