<template name="vehicle">

<div class="container">
{{#if admin}}
	<header class="top-container">
		<h4>
			Veículos
		</h4>

		<a href="{{pathFor 'vehicleNew' }}" class="waves-effect waves-light btn btn-add">
			<i class="mdi-content-add left"></i>
			NOVO
		</a>

	</header>

	<div class="content-container row">

		<div class="vehicle programs">

			<div class="col s12 no-padding">
			    {{#each vehicle}}
					<div class="col s4">

						<div class="program card">
				            <div class="card-image">
				              <img src="{{image_avatar}}" width="100%" height="300">

				             <div class="secondary-content actions-icons">
										  	<a href="{{pathFor 'vehicleUpdate' _id=this._id}}">
										  		<i class="mdi-image-edit"></i>
										  	</a>
										  	<a href="#" class="modal-trigger" id="btnDelete">
										  		<input type="text" value="{{_id}}" id="vehicleDisable" readonly="readonly" style="display:none;" />
										  		<i class="mdi-navigation-close"></i>
										  	</a>
									  	</div>

				            </div>
				            <div class="card-content">
				              	<strong>{{name}}</strong>
                        <span>{{status}}</span>
				            </div>
			            </div>

			        </div>
			    {{/each }}
			</div>

		</div>

	</div>
{{else}}
Usuário sem permissão
{{/if}}
</div>

</template>
