<template name="headerPortal">

  <nav class="header header-portal">

    <div class="nav-wrapper">

      <div class="side-left">
        <a href="#" class="button btn-flat button-collapse" data-activates="portal-navigation">
          <img src="/images/newspaper/icons/icon-navigation.svg" height="18" />
        </a>
      </div>

      <a href="#" class="logo">
        <img src="/images/portal/marca.png" height="32" alt="" />
      </a>

      <div class="side-right">
        <a href="#modal-search-portal" class="button btn-flat button-search modal-trigger">
          <img src="/images/newspaper/icons/icon-search.svg" height="24" />
        </a>
      </div>

    </div>

  </nav>

</template>
