<template name="navPortal">

  <ul id="portal-navigation" class="side-nav">

    <li class="item-nav">
      <a href="{{ pathFor 'home' }}" title="Voltar para o início" class="back-to-home" data-transition-out="scaleOut" data-transition-in="scaleIn">
        <i class="icon-left-2"></i>
        <span>Voltar ao início</span>
      </a>

    </li>

    <li class="item-nav">

      <ul class="collapsible collapsible-accordion">

        <li>
          <a class="link-nav collapsible-header" href="#">
            Editorias
            <i class="icon-down-open-mini"></i>
          </a>

          <div class="collapsible-body">

            <ul>
              <li><a href="{{ pathFor 'portalSection' }}">Notícias</a></li>
              <li><a href="{{ pathFor 'portalSection' }}">Entretenimento</a></li>
              <li><a href="{{ pathFor 'portalSection' }}">Esportes</a></li>
              <li><a href="{{ pathFor 'portalSection' }}">Polícia</a></li>
            </ul>

          </div>

        </li>

      </ul>

    </li>

    <li class="item-nav">
      <a class="link-nav" href="{{ pathFor 'portalBlogs' }}" data-transition-out="slideFadeLeftOut" data-transition-in="slideFadeRightIn">
        Blogs
      </a>
    </li>

    <li class="item-nav">
      <a class="link-nav" href="{{ pathFor 'portalCity' }}" data-transition-out="slideFadeLeftOut" data-transition-in="slideFadeRightIn">
        Cidades
      </a>
    </li>

    <li class="item-nav">
      <a class="link-nav" href="{{ pathFor 'portalPhotos' }}" data-transition-out="slideFadeLeftOut" data-transition-in="slideFadeRightIn">
        Fotos
      </a>
    </li>

    <li class="item-nav">
      <a class="link-nav" href="{{ pathFor 'portalVideos' }}" data-transition-out="slideFadeLeftOut" data-transition-in="slideFadeRightIn">
        Vídeos
      </a>
    </li>

  </ul>

</template>
