/** Autor: Allan Alexandre
*** ================================ */

.main-header {
  margin-bottom:20px;

  .left {
    .brand-logo {
      left:20px;
    }
  }

  .right {
    a {
      line-height:56px!important;
    }
  }
}