<template name="playTvLayout">
  {{#if playTvValidate hour_begin hour_end}}
    <div class="play-tv padding">
      <iframe src="http://new.livestream.com/accounts/3332377/events/2958396/player?width=640&height=260&autoPlay=false&mute=false" width="100%" height="260" frameborder="0" scrolling="no"> </iframe>
    </div>
  {{else}}
      {{#if buttonValidate}}
        <span class="btn clear" onclick="Router.go('program', {_id: '{{buttonProgramId}}'});">Ir para programa no ar</span>
      {{/if}}
  {{/if}}
</template>
