<template name="television">

   <div class="television-page transitions-content">

    <!-- {{> yield "navigation" }} -->

    {{> yield "header"}}

    <main class="content has-header">

      <ul class="programs-list">
        <li class="programs-list-item">
          <a href="{{ pathFor 'program' }}" data-transition-out="slideFadeLeftOut" data-transition-in="slideFadeRightIn">
            <img src="images/television/img-patrulha.png" width="100%" />
          </a>
        </li>
        <li class="programs-list-item">
          <a href="{{ pathFor 'program' }}" data-transition-out="slideFadeLeftOut" data-transition-in="slideFadeRightIn">
            <img src="images/television/img-ronda.png" width="100%" />
          </a>
        </li>
      </ul>

    </main>

  </div>

</template>